################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab2/task1/MyApp/.vs/MyApp
/lab2/task1/MyApp/MyApp/x64/Debug
/lab2/task1/MyApp/packages/wtl.10.0.10320
/lab2/task1/MyApp/x64/Debug
/.vs
/lab2/1/MyApp/.vs/MyApp
/lab2/1/MyApp/MyApp/x64/Debug
/lab2/1/MyApp/packages/wtl.10.0.10320
/lab2/1/MyApp/x64/Debug
/lab2/2/MyApp/.vs/MyApp
/lab2/2/MyApp/MyApp/x64/Debug
/lab2/2/MyApp/packages/wtl.10.0.10320
/lab2/2/MyApp/x64/Debug
/lab2/2/.vs/
/lab2/2/packages/




